/* Header.module.css */

.container {
  display: flex;
  justify-content: space-between; /* Center the search bar horizontally */
  max-width: 100%;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 10px 15px;
  width: 100%;
  border-bottom: 0.5px solid black;
}

.searchBar{
  width: 500px;
}

input {
  border: 2px solid black;
  outline: none;
  width: 400px; /* Set the width to 60% */
  padding: 10px;
  border-radius: 20px;
  margin-right: 6px;
}

.search-icon {
  margin-right: 10px;
  cursor: pointer;
}

.homeIcon{
  margin-top: 10px;
}
