/* Header.module.css */

.header {
    background-color: #62458f;
    color: white;
    padding: 10px 0;
    width: 100%
  }
  
  .container {
    display: flex;
    justify-content: center; /* Center the search bar horizontally */
    max-width: 60%;
    margin: 0 auto;
  }
  
  input {
    border: none;
    outline: none;
    flex: 1;
    padding: 10px;
    border-radius: 20px;
  }
  
  .search-icon {
    margin-right: 10px;
    cursor: pointer;
  }
  
  .searchResults {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Make sure it's above other elements */
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    padding: 8px;
    border-bottom: 1px solid #eee;
  }
  